.header {
    margin-top: 0.75rem;
    text-align: center;
    display: flex;
  }
  .header ul {
    width: 200px;
  }
  .header ul li {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
  }
  
  .header ul li:hover {
    background-color: #444;
  }
  
  .header a:hover {
    text-decoration: none;
  }
  
  .header h3 a {
    color: #386BE2;
  }
  
  .header h3 a:hover {
    color: #00bc8c;
  }

  .change-service {
    width: 110px;
  }
  